{"openapi":"3.0.1","info":{"title":"Threat Feed Management API","description":"Feed, once added, can be applied to business specific denylisted content policy.\n<br/> Authorize using your bearer token.\n","version":"v1"},"servers":[{"url":"https://api.lookout.com/mgmt/threat-feeds"}],"security":[{"OAuth2-JWT":[]}],"paths":{"/api/v1/threat-feeds/{feedId}":{"get":{"tags":["Feed Management API"],"summary":"Get the feed metadata","operationId":"getFeedMetadata","parameters":[{"name":"feedId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"401":{"description":"Invalid authentication"},"404":{"description":"Feed not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"400":{"description":"Bad Request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal Server Error. The operation can be retried.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetFeedResponseDto"}}}}}},"put":{"tags":["Feed Management API"],"summary":"Update the feed metadata","description":"Use the _title_ and _description_ fields to identify your threat feed.\n\n_allowAnalysis_ accepts values of ‘true’ or ‘false’ (default) controlling\nwhether Lookout ingests or rejects the feed for analysis.\nLookout does not tag the data with any customer-identifying information.\n","operationId":"updateFeedMetadata","parameters":[{"name":"feedId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFeedRequest"},"example":{"title":"new-feed-title","description":"new-feed-description","allowAnalysis":true}}},"required":true},"responses":{"401":{"description":"Invalid authentication"},"404":{"description":"Feed not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"400":{"description":"Bad Request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal Server Error. The operation can be retried.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK"}}},"delete":{"tags":["Feed Management API"],"summary":"Delete the feed","operationId":"deleteFeed","parameters":[{"name":"feedId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"401":{"description":"Invalid authentication"},"404":{"description":"Feed not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"400":{"description":"Bad Request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal Server Error. The operation can be retried.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK"}}}},"/api/v1/threat-feeds/{feedId}/elements/incremental-updates":{"post":{"tags":["Feed Management API"],"summary":"And and delete domains from the feed","description":"Updates the feed incrementally by performing `add` or `delete` operation\non the feed elements.\n\nEach request is limited to a maximum of 15,000 operations.\n\n## Few points related to processing\nIf there are multiple operations for the same domain are in the request body,\nonly the last one will be processed and rest will be ignored.\n","operationId":"performIncrementalUpdatesOnElements","parameters":[{"name":"feedId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"text/csv":{"schema":{"type":"string"},"example":"\"DOMAIN\",\"ACTION\"\n\"domains-one.com\",\"add\"\n\"domains-two.com\",\"delete\"\n"},"application/json":{"schema":{"$ref":"#/components/schemas/IncrementalUpdateRequest"},"example":{"operations":[{"domain":"domains-one.com","action":"add"},{"domain":"domains-two.com","action":"delete"}]}}},"required":true},"responses":{"413":{"description":"The request body exceeds the limit of 2MB","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Invalid authentication"},"404":{"description":"Feed not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"400":{"description":"Bad Request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal Server Error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"The upload request processed successfully and the response contains the domains\nthat it failed to process along with the error codes.\n","content":{"text/csv":{"examples":{"Success":{"description":"Success","value":"\"ROW_NUMBER\",\"DOMAIN\",\"ACTION\",\"ERROR_CODE\",\"ERROR_MESSAGE\"\n"},"Partial Success":{"description":"Partial Success","value":"\"ROW_NUMBER\",\"DOMAIN\",\"ACTION\",\"ERROR_CODE\",\"ERROR_MESSAGE\"\n\"3\", \"com\", \"add\", \"123\", \"Invalid Domain\"\n"}}},"application/json":{"schema":{"$ref":"#/components/schemas/IncrementalUpdateResponse"},"examples":{"Success":{"description":"Success","value":{"errors":[]}},"Partial Success":{"description":"Partial Success","value":{"errors":[{"index":"2","operation":{"action":"add","domain":"com"},"errorCode":"1020","errorMessage":"Invalid domain"}]}}}}}}}}},"/api/v1/threat-feeds/{feedId}/elements":{"get":{"tags":["Feed Management API"],"summary":"Download the feed domains","operationId":"downloadFeedElements","parameters":[{"name":"feedId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"401":{"description":"Invalid authentication"},"404":{"description":"Feed not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"400":{"description":"Bad Request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal Server Error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"text/csv":{"schema":{"type":"string"}}}}}},"post":{"tags":["Feed Management API"],"summary":"Upload the domains to the feed","description":"The Upload API is responsible for updating a feed which could include adding and deleting a list of domains contained in CSV format.\n\n## Upload Types\n### Incremental\nUpdates the feed incrementally with the data provided in the CSV.\n\nThe CSV file for this operation requires two columns, 'domain' and 'action'.\nThe two supported actions are 'add' and 'delete'\n\n**Sample Incremental CSV file Content**\n```\ndomain,action\nthreat_abc.com,add\nthreat_def.com,delete\n```\n\n### Overwrite\nOverwrites the existing feed with the data provided in the CSV.\n\nThe CSV file for this operation requires one column, 'domain'.\n\n**Sample Overwrite CSV file Content**\n```\ndomain\nthreat_abc.com\nthreat_def.com\n```\n\n## Few points related to processing\nIf there are multiple rows for the same domain in the uploaded CSV,\nonly the last one will be processed and rest will be ignored.\n","operationId":"uploadElements","parameters":[{"name":"feedId","in":"path","required":true,"schema":{"type":"string"}},{"name":"uploadType","in":"query","description":"Upload operation type","required":true,"schema":{"type":"string","description":"Upload operation type","enum":["INCREMENTAL","OVERWRITE"]}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"CSV file in the format as per the upload type","format":"binary"}}}}}},"responses":{"401":{"description":"Invalid authentication"},"404":{"description":"Feed not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"400":{"description":"Bad Request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal Server Error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"The upload request processed successfully and the response CSV contains\nthe domains that it failed to process along with the error codes.\nIf there are no failures, the response CSV will have only headers.\n\nIn case of **Incremental Upload Type**, the response CSV must have below columns\n```\n\"ROW_NUMBER\",\"DOMAIN\",\"ACTION\",\"ERROR_CODE\",\"ERROR_MESSAGE\"\n```\n\nIn case of **Overwrite Upload Type**, the response CSV must have below columns\n```\n\"ROW_NUMBER\",\"DOMAIN\",\"ERROR_CODE\",\"ERROR_MESSAGE\"\n```\n","content":{"text/csv":{"schema":{"type":"string"}}}},"413":{"description":"The uploaded file exceeds the limit of 7MB","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/v1/threat-feeds":{"get":{"tags":["Feed Management API"],"summary":"Get the feed guids for the tenant","description":"Feed guids are returned as a list of UUIDs. This does not return the feed metadata.\n","operationId":"getFeedGuids","responses":{"401":{"description":"Invalid authentication"},"400":{"description":"Bad Request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal Server Error. The operation can be retried.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}},"post":{"tags":["Feed Management API"],"summary":"Create a new feed","description":"Use the _title_ and _description_ fields to identify your threat feed.\n\n_allowAnalysis_ accepts values of ‘true’ or ‘false’ (default) controlling\nwhether Lookout ingests or rejects the feed for analysis.\nLookout does not tag the data with any customer-identifying information.\n","operationId":"createFeed","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFeedRequest"},"example":{"title":"feed-title","description":"feed-description","feedType":"CSV","allowAnalysis":false}}},"required":true},"responses":{"401":{"description":"Invalid authentication"},"400":{"description":"Bad Request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal Server Error.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFeedResponse"}}}}}}}},"components":{"schemas":{"UpdateFeedRequest":{"type":"object","properties":{"title":{"maxLength":255,"minLength":8,"type":"string","description":"New Feed Title"},"description":{"maxLength":255,"minLength":8,"type":"string","description":"New Feed Description"},"allowAnalysis":{"type":"boolean","description":"Allow feed element analysis"}}},"ProblemDetail":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer","format":"int32"},"detail":{"type":"string"},"instance":{"type":"string","format":"uri"},"properties":{"type":"object","additionalProperties":{"type":"object"}}}},"IncrementalUpdateOperation":{"type":"object","properties":{"domain":{"type":"string"},"action":{"type":"string","enum":["add","delete"]}}},"IncrementalUpdateRequest":{"type":"object","properties":{"operations":{"type":"array","items":{"$ref":"#/components/schemas/IncrementalUpdateOperation"}}}},"IncrementalUpdateError":{"type":"object","properties":{"index":{"type":"integer","format":"int64"},"operation":{"$ref":"#/components/schemas/IncrementalUpdateOperation"},"errorCode":{"type":"string"},"errorMessage":{"type":"string"}}},"IncrementalUpdateResponse":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/IncrementalUpdateError"}}}},"CreateFeedRequest":{"required":["feedType","title"],"type":"object","properties":{"title":{"maxLength":255,"minLength":8,"type":"string","description":"Feed Title"},"description":{"maxLength":255,"minLength":8,"type":"string","description":"Feed Description"},"feedType":{"type":"string","description":"Feed Type","enum":["CSV"]},"allowAnalysis":{"type":"boolean","description":"Allow feed element analysis","default":false}}},"CreateFeedResponse":{"type":"object","properties":{"feedId":{"type":"string"}}},"GetFeedResponseDto":{"type":"object","properties":{"feedId":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"feedType":{"type":"string"},"elementsUploadedAt":{"type":"string"},"elementsCount":{"type":"integer","format":"int32"},"allowAnalysis":{"type":"boolean"}}}},"securitySchemes":{"OAuth2-JWT":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}